<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <img style="width:146px;height:100%;margin-bottom:-3px" src="assets/img/logo.png" routerLink="shop">
        <form action="" method="get" class="search">
          <input type="text" placeholder="Arama yap">
          <button type="submit">Ara</button>
        </form>
        <div class="menu-bar">
          <ul class="block">
            <li><i class="fa-sharp fa-solid fa-bag-shopping"></i><a>Sepetim</a></li>
            <li><i class="fa-solid fa-user"></i><a routerLink="/register">Kayıt Ol</a></li>
            <li><i class="fa-solid fa-user"></i><a routerLink="/login">Giriş Yap</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
